.header {
	font-family: inherit;
	color:#fff;
	background-color:$dark;
	border-bottom-left-radius: 20px;
}

.header__wrapper {
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;

	width:100%;
	min-height:100vh;
	position:fixed;
	top:0;
	left:0;
	right:0;

	z-index: -2;
	background-color:$dark;
}

.header__logo {
	width:200px;
	margin: 15px 0 15px 15px;
}
.header__title {
	font-size: 42px;
	line-height: 42px;
	margin-top: -80px;
	margin-bottom: 20px;
}

@media (min-width:768px) {
	.header {
		border-bottom-left-radius: 200px;
	}
	.header__wrapper {
		display:flex;
		justify-content: flex-end;
		padding-bottom:180px;
	}
}
