.portfolio {
	width:100%;
	padding:80px 10px 40px 10px;
	background-color:#fff;
}

.portfolio__title {
	@include title;
}
.portfolio__text {
	font-size: 16px;
}
.portfolio__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display:flex;
	flex-direction: column;
}
.portfolio__item {
	width:100%;
	max-width:600px;
	height:400px;
	margin: 0 auto;
	margin-bottom: 20px;

	overflow:hidden;

	border:1px solid rgba(30,30,30,.2);
}
.portfolio__item.cat-energy {
	background:url('../img/cat-ener.jpg');
	background-repeat: no-repeat;
	background-position: cover;
	.portfolio__project {
		background-color:rgba(#5eaa2f,.9);
	}
}
.portfolio__item.mairala {
	background:url('../img/mairala.jpg');
	background-repeat: no-repeat;
	background-position: cover;
	.portfolio__project {
		background-color:rgba(0,0,0,.9);
	}
}
.portfolio__item.rizor {
	background:url('../img/rizor.jpg');
	background-repeat: no-repeat;
	background-position: cover;
	.portfolio__project {
		background-color:rgba(#3a2ff8,.9);
	}
}
.portfolio__item.beryoga {
	background:url('../img/beryoga.jpg');
	background-repeat: no-repeat;
	background-position: cover;
	.portfolio__project {
		background-color:rgba(255,71,75,.9);
	}
}
.portfolio__project {
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width:100%;
	height:100%;
	padding:25px;
	padding-top: 10px;

	color:#fff;
	position:relative;
}
.portfolio__project-title {
	width:100%;
	height:20px;
	margin-bottom: 20px;

	font-size: 25px;
	line-height: 35px;
	font-weight: 700;
}
.portfolio__description {
	position: absolute;
	top:60px;
	left:30px;
	font-size: 13px;
	font-style: italic;
}
.portfolio__project-text {
	font-size: 16px;
	text-align: center;
	line-height: 20px;
}
.portfolio__view {
	width:40%;
	margin: 0 auto;
	display:flex;
	justify-content: space-around;


}
.btn {
	width:50px;
	height:50px;
	margin-bottom: 10px;
	border:1px solid #fff;
	border-radius:50%;
	color:#fff;
	font-family:'Montserrat', sans-seif;
	font-size: 25px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	transition:all .4s ease;
	&:hover {
		border-color: transparent;
	}
}
.portfolio__codeview {
	margin-right: 10px;
	align-self:flex-start;
}
.portfolio__pageview {
	margin-bottom: 10px;
	align-self:flex-end;
}

@media (min-width:768px) {
	.portfolio__text {
		max-width:500px;
		margin:0 auto;
		margin-bottom: 40px;
		font-size: 18px;
	}
	.portfolio__list {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.portfolio__item {
		width:45%;
		max-width:450px;
		height:300px;
		margin:0 auto;
		margin-bottom: 20px;
		&:hover .portfolio__project {
			font-size: 25px;
			opacity: 1;
			visibility: visible;
			transition: all .3s ease;
		}
	}
	.portfolio__item.cat-energy,
	.portfolio__item.rizor,
	.portfolio__item.beryoga,
	.portfolio__item.mairala {
		background-size: auto 100%;
	}
	.portfolio__project {
		font-size: 0;
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease;
	}
	.portfolio__description {
		right:30px;
		left:auto;
	}
	.btn {
		margin-bottom: 0;
		width:50px;
		height:50px;
		font-size: 25px;
	}
}

@media (min-width:1200px) {
	.portfolio {
		border-bottom-right-radius: 50px;
		border-bottom-left-radius: 50px;
	}
	.portfolio__text {
		max-width:700px;
		margin-bottom: 50px;
		font-size: 18px;
	}
	.portfolio__item {
		max-width:600px;
		height:400px;
	}
	.portfolio__description {
		font-size: 16px;
		right:auto;
		left:30px;
	}
	.btn {
		margin-bottom: 0;
	}
}
