.footer {
	min-height:100px;
	background-color: #111;
	.container {
		display:flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		height:80px;
		min-height:100px;
	}
}
.footer__main-list,
.footer__author-list {
	display:flex;
	justify-content: space-between;
	align-items: center;

	height:100%;

	font-size: 13px;
}
.footer__item:not(:last-child),
.footer__author-item:not(:last-child) {
	position: relative;
	margin-right: 10px;
	&:after {
		content:'';
		width:1px;
		height:14px;
		background-color: #555;

		position: absolute;
		top:2px;
		right:-15px;
		z-index: 1;
	}
}
.footer__main-list {
	width:401px;
}
.footer__author-list {
	width:320px;
}
.footer__item,
.footer__author-item {
	color: #959595;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	.footer__link {
		color:#fff;
	}
	a:hover {
		color:#c7b299;
	}
}


@media (max-width:1230px) {
	.footer {
		.container {
			flex-direction: column;
		}
	}
	.footer__main-list {
		width:401px;
		margin:0 auto;
		margin-top: 30px;
	}
	.footer__author-list {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

@media (max-width:767px) {
	.footer {
		width:100%;
	}
	.footer__main-list,
	.footer__author-list {
		flex-wrap: wrap;
	}
	.footer__main-list {
		justify-content: center;
	}
	.footer__item {
		margin-right: 0;
	}

	.footer__item:not(:last-child),
	.footer__author-item:not(:last-child) {
		&:after {
			display:none;
		}
	}
}