.nav__list {
	display:flex;
	flex-direction: row;
	align-items: center;

	width:100%;
	padding-top:27px;
}
.nav__item.logo {
	margin-right: auto;
	margin-left: 0;
}
.nav__item {
	margin-right: 39px;
	&:last-child {
		margin-right: -30px;
	}
}
.nav__logo-link {
	display:flex;
}
.nav__logo-name {
	margin-top: 15px;
	margin-left: 5px;
	font-size: 35px;
	line-height: 25px;
	font-weight: 400;
	letter-spacing: -1.36px;
}
.nav__link {
	font-family: "Myriad Pro";
	font-size: 14px;
	font-weight: 400;
	&:hover {
		color:#c7b299;
	}
}
.nav__button {
	display:none;
}

@media (max-width:1300px) {
	.nav__list {
		flex-wrap: wrap;
		justify-content: center;
	}
	.nav__item.logo {
		width:100%;
		margin-bottom: 30px;
		display:flex;
		justify-content: center;
	}
}

@media (max-width:767px) {
	.nav__list {
		display:none;
	}
	.nav__list.opened {
		display:flex;
		flex-direction: column;

		height:100vh;
		width:100vw;
		padding: 0;
		background-color: rgba(0,0,0,.9);
		

		position:fixed;
		top:0;
		left:0;
		z-index: 1;
		.nav__item {
			margin: 5px 0;
		}
	}
	.nav__button {
		display:block;
		z-index: 3;

		position:absolute;
		top:40px;
		right:40px;
		
		width:50px;
		height:50px;

		background-color: transparent;
		border:none;
	}
	.nav__button--burger {
		height: 3.5px;
		width:40px;
		position: absolute;
		top: 25px;
		right:-15px;
		border:none;
		border-radius: 50px;
	 	background-color: #fff;
		transform: translate(-50%,-50%) rotate(0deg);
		transition: transform ease .5s;
		z-index:15;
		&:focus {
			outline:none;
		}
	 	&::before,&::after{
		    content:"";
		    position: absolute;
		    height: inherit;
		    border-radius: inherit;
		    background-color: inherit;
		    margin: auto;
		    width: 50%;
		    transition: all ease 0.5s, background-color 0s ease;
	  }
	 	&::before{
		    top: -8px;
		    left: 0;
		    transform-origin: left;
	  }
	 	&::after{
		    bottom:-8px;
		    right: 0;
		    transform-origin: right;
	  }
	} 
	.open {
	  transform:translate(-50%,-50%) rotate(135deg);
	  	&::before{
		    top:0;
		    transform: translateX(100%) rotate(-90deg);
	  	}
	  	&::after{
		    bottom:0;
		    transform: translateX(-100%) rotate(-90deg);
	  	}
	}
}