.services {
	margin-top: 125px;
	padding-bottom: 80px;
	color:#555;
}
.services__list {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	text-align: center;
}
.services__item {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.services__img-wrapper {
	height:45px;
}
.services__item-title {
	margin: 0;
	margin-top: 30px;
	font-size: 22px;
	font-weight: 500;
}
.services__item-text {
	max-width: 267px;
	margin: 0;
	margin-top:19px;
	color: #8c8c8c;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
}
.services__item.development {
	position:relative;
	&:after {
		content:'';
		background-color: #c7b299;

		width:70px;
		height:3px;

		position: absolute;
		bottom:-33px;
		left:calc(50% - 35px);

	}
	.services__item-title {
		color: #c7b299;
	}
}

@media (max-width:1300px) {
	.services {
		padding-bottom: 0;
	}
	.services__list {
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.services__item {
		margin-bottom: 60px;
	}
	.services__item.development {
		&:after {
			bottom:-20px;
		}
	}
}
