*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  margin-top: 60px;
  padding: 0;
  min-width: 320px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #000;
  background-color: #fff; }

img {
  width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }

.header {
  width: 100%;
  min-height: 95px;
  background-color: #303030;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 95px; }

.main-nav__logo {
  margin-top: 10px; }
  .main-nav__logo svg {
    fill: #fff; }
    .main-nav__logo svg:hover {
      fill: #7b6c63; }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 570px;
  min-height: 95px;
  padding-left: 40px;
  font-family: "Raleway", Arial, sans-serif;
  text-transform: uppercase; }

.main-nav__link {
  padding-bottom: 13px;
  position: relative; }
  .main-nav__link:hover {
    color: #7b6c63; }
  .main-nav__link:active {
    opacity: .6; }

.main-nav__link.current:after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #7b6c63;
  position: absolute;
  bottom: 0;
  left: 0; }

.intro {
  min-width: 100%;
  padding: 180px 0;
  margin: 0;
  background-color: #303030;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/intro_background.jpg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/intro_background.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/intro_background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/intro_background.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100% 100%; }

.intro__start-message {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff; }

.intro__message {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  font-size: 66px;
  line-height: 75px;
  text-transform: uppercase;
  color: #fff; }

.intro__message--semibold {
  font-weight: 600;
  color: #7b6c63; }

.intro__download-link {
  display: block;
  width: 270px;
  height: 60px;
  padding: 15px 70px;
  opacity: .7;
  border-radius: 5px;
  color: #fff;
  background-color: #25211e;
  text-transform: uppercase; }
  .intro__download-link .intro__icon {
    padding-left: 5px; }
  .intro__download-link:hover, .intro__download-link:focus {
    opacity: 1; }

.about {
  overflow: hidden; }

.about__main-title {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #7b6c63;
  position: relative;
  padding-top: 90px;
  padding-bottom: 40px; }
  .about__main-title::after {
    content: '';
    width: 76px;
    height: 6px;
    margin-left: -38px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #7b6c63; }

.about__main-text {
  margin-top: 40px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 18px; }

.about__the-best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-bottom: 90px; }

.about__wrapper {
  max-width: 600px;
  padding-top: 80px; }

.about__title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
  color: #7b6c63;
  text-transform: uppercase; }

.about__text {
  margin-bottom: 30px; }

.about__link, .button {
  display: block;
  width: 170px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 48px; }
  .about__link:hover .about__link-icon, .button:hover .about__link-icon {
    right: -5px;
    -webkit-transition: right 0.4s ease;
    -o-transition: right 0.4s ease;
    transition: right 0.4s ease; }

.about__link-icon {
  position: relative;
  right: 0;
  -webkit-transition: right 0.4s ease;
  -o-transition: right 0.4s ease;
  transition: right 0.4s ease;
  padding-left: 6px; }

.about__image {
  width: 962px;
  margin-right: -262px; }

.about__services .about__title {
  text-align: center; }

.about__services .about__text {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center; }

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-bottom: 70px; }

.about__icon {
  font-size: 30px;
  color: #7b6c63;
  margin-bottom: 30px; }

.about__item-title {
  font-size: 18px;
  color: #363636;
  text-transform: uppercase; }

.about__item-text {
  color: #949494;
  max-width: 340px; }

.skills {
  color: #fff;
  text-align: center;
  padding: 100px 0 90px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/skills-bg.jpg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/skills-bg.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/skills-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/skills-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto; }

.skills__title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 35px; }

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.skills__circle {
  width: 170px;
  height: 170px;
  border: 4px solid #7b6c63;
  border-radius: 50%;
  margin-bottom: 30px;
  position: relative; }
  .skills__circle::after {
    content: '';
    width: 155px;
    height: 155px;
    position: absolute;
    top: 3px;
    left: 3px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid #fff;
    border-radius: 50%;
    -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
        transform: rotate(45deg); }

.skills__item-text {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 125px; }

.skills__item-caption {
  font-size: 16px; }

.projects {
  padding-bottom: 90px; }

.projects__title {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #7b6c63;
  position: relative;
  padding-top: 90px;
  padding-bottom: 40px;
  margin-bottom: 40px; }
  .projects__title::after {
    content: '';
    width: 76px;
    height: 6px;
    margin-left: -38px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #7b6c63; }

.projects__main-text {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 90px;
  text-align: center; }

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px; }

.projects__item {
  width: 25%;
  min-height: 355px;
  padding: 1%; }

.projects__item.extension {
  width: 100%;
  padding: 125px 0;
  background-color: #1a1a1a;
  color: #fff;
  text-align: center; }

.projects__item-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 47px;
  text-transform: uppercase;
  margin-bottom: 30px; }

.projects__item-text {
  font-size: 18px;
  margin-bottom: 30px; }

.projects__item-link {
  color: #29c5f2; }
  .projects__item-link:hover, .projects__item-link:focus {
    text-decoration: underline; }

.projects__item.paperclips {
  background: url("../img/projects-paperclips.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.projects__item.pencils {
  background: url("../img/projects-pencils.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.projects__item.umbrella {
  background: url("../img/projects-umbrella.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.projects__item.hydrant {
  background: url("../img/projects-hydrant.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.projects__item-wrapper {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .8;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0;
  visibility: hidden;
  height: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  overflow: hidden; }
  .projects__item-wrapper .projects__item-text {
    font-size: 14px;
    font-weight: light;
    text-transform: uppercase;
    letter-spacing: 3px; }

.projects__item-name {
  font-size: 18px;
  font-weight: medium;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative; }
  .projects__item-name:after {
    content: '';
    width: 35px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: calc(50% - 17.5px); }

.projects__item:hover .projects__item-wrapper {
  font-size: auto;
  height: 100%;
  visibility: visible;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.projects__link {
  margin: 0 auto; }
  .projects__link:hover .projects__link-icon {
    right: -5px;
    -webkit-transition: right 0.4s ease;
    -o-transition: right 0.4s ease;
    transition: right 0.4s ease; }

.projects__link-icon {
  position: relative;
  right: 0;
  -webkit-transition: right 0.4s ease;
  -o-transition: right 0.4s ease;
  transition: right 0.4s ease;
  padding-left: 6px; }

.team__title {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #7b6c63;
  position: relative;
  padding-top: 90px;
  padding-bottom: 40px;
  margin-bottom: 30px; }
  .team__title::after {
    content: '';
    width: 76px;
    height: 6px;
    margin-left: -38px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #7b6c63; }

.team__text {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  margin-bottom: 80px; }

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px; }

.team__item-photo {
  width: 371px;
  height: 367px;
  margin-bottom: 25px;
  background: url("../img/team-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .team__item-photo:hover .team__social-list {
    font-size: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
  .team__item-photo:hover + .team__member-info {
    border: 3px solid #000;
    padding-top: 20px; }

.team__social-list {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.team__social {
  color: #fff;
  font-size: 24px;
  width: 60px;
  height: 60px;
  margin-right: 15px; }
  .team__social a {
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 58px; }
    .team__social a:hover {
      border: 2px solid #7b6c63; }
      .team__social a:hover i {
        color: #7b6c63; }

.team__member-info {
  width: 370px;
  min-height: 102px;
  padding-top: 23px;
  text-align: center; }

.team__member-name {
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.team__member-position {
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px; }

.reviews {
  padding: 90px 0;
  background-color: #1a1a1a;
  color: #fff; }

.reviews__title {
  font-size: 24px;
  line-height: 47px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px; }

.reviews__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  overflow: hidden; }

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  margin-bottom: 40px;
  position: relative;
  text-align: center; }

.reviews__content {
  left: 0;
  -webkit-transition: left .5s linear;
  -o-transition: left .5s linear;
  transition: left .5s linear; }

.reviews__quote {
  font-size: 18px;
  color: #929292; }

.reviews__quote-text {
  display: block;
  max-width: 770px;
  font-weight: 300; }

.reviews__quote-author {
  display: block;
  font-style: normal;
  margin-top: 50px; }

.reviews__quote-link {
  color: #27b0d8; }
  .reviews__quote-link:hover, .reviews__quote-link:focus {
    text-decoration: underline; }

.reviews__btn-wrapper {
  text-align: center; }

.reviews__button {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer; }
  .reviews__button:hover {
    background-color: #fff; }

.active {
  background-color: #fff; }

.blog__title {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #7b6c63;
  position: relative;
  padding-top: 90px;
  padding-bottom: 40px;
  margin-bottom: 40px; }
  .blog__title::after {
    content: '';
    width: 76px;
    height: 6px;
    margin-left: -38px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #7b6c63; }

.blog__text {
  font-size: 18px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center; }

.blog__list {
  height: 980px;
  overflow: hidden; }

.blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 60px; }
  .blog__item:nth-child(2n) .blog__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 70px;
    margin-right: 70px; }
  .blog__item:nth-child(2n) .blog__wrapper {
    text-align: right; }

.blog__image {
  width: 475px;
  height: 271px;
  margin-right: 70px;
  margin-left: 70px; }

.blog__post-time {
  color: #7b6c63;
  font-weight: medium; }

.blog__post-title {
  font-size: 24px; }

.blog__post-text {
  color: #949494;
  font-size: 16px; }
  .blog__post-text a {
    color: #7b6c63;
    font-size: 20px; }

.blog__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  margin-bottom: 90px;
  border: none;
  border-radius: 50%;
  background-color: #7b6c63;
  opacity: .9;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  text-align: center; }
  .blog__button:hover {
    opacity: 1; }

.blog__list--open {
  height: 100%;
  overflow: visible; }

.contact {
  padding-top: 90px;
  padding-bottom: 90px; }

.contact__title {
  font-size: 40px;
  color: #7b6c63;
  line-height: 48px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px; }

.contact__form {
  margin: 0 auto;
  width: 770px; }

.contact__form-wrapper {
  padding: 0;
  border: none; }

.contact__name,
.contact__email {
  width: 365px;
  height: 60px;
  padding: 0 10px;
  border: none;
  border-top: 2px solid #000;
  background-color: #fff; }

.contact__name {
  margin-right: 30px;
  margin-bottom: 30px; }

.contact__message-area {
  width: 770px;
  min-height: 149px;
  padding: 20px 10px;
  border: none;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 40px; }

.contact__name,
.contact__email,
.contact__message-area {
  font-size: 18px; }
  .contact__name::-webkit-input-placeholder,
  .contact__email::-webkit-input-placeholder,
  .contact__message-area::-webkit-input-placeholder {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    color: #5b5b5b;
    letter-spacing: 1px; }
  .contact__name:-moz-placeholder,
  .contact__email:-moz-placeholder,
  .contact__message-area:-moz-placeholder {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    color: #5b5b5b;
    letter-spacing: 1px; }
  .contact__name::-moz-placeholder,
  .contact__email::-moz-placeholder,
  .contact__message-area::-moz-placeholder {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    color: #5b5b5b;
    letter-spacing: 1px; }
  .contact__name:-ms-input-placeholder,
  .contact__email:-ms-input-placeholder,
  .contact__message-area:-ms-input-placeholder {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    color: #5b5b5b;
    letter-spacing: 1px; }

.contact__form-btn {
  background-color: #fff;
  margin: 0 auto;
  font-size: 18px;
  line-height: 45px;
  font-weight: medium;
  text-transform: none;
  letter-spacing: 1px; }
  .contact__form-btn:hover, .contact__form-btn:focus {
    background-color: #252525;
    border: 2px solid #252525;
    color: #fff; }

.footer {
  padding-top: 50px;
  background-color: #222222;
  color: #fff; }

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px; }

.footer__item {
  width: 270px; }

.footer__logo svg {
  margin-bottom: 20px;
  fill: #7b6c63; }
  .footer__logo svg:hover, .footer__logo svg:focus {
    fill: #fff; }

.footer__text {
  font-size: 14px;
  color: #929292; }

.footer__title {
  font-size: 18px;
  text-transform: uppercase;
  color: #c2c2c2; }

.footer__posts {
  padding-bottom: 30px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.footer__post-time {
  font-size: 10px;
  line-height: 20px;
  color: #5f5f5f; }
  .footer__post-time span {
    color: #7b6c63;
    font-size: 14px; }

.footer__post-text {
  font-size: 14px;
  line-height: 25px;
  color: #929292;
  margin: 0; }

.footer__address-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0; }
  .footer__address-item i {
    padding-right: 10px;
    color: #929292; }
  .footer__address-item p {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    color: #929292;
    margin: 0; }

.footer__copyright {
  height: 60px;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  color: #595959;
  background-color: #1c1c1c; }