.footer-bottom {
	display:flex;
	flex-direction: column;
	padding:0 20px;
}

.footer-bottom__logo-name {
	width:128px;
	height:24px;
	align-self:center;
	margin-top:30px;
	&:hover {
		opacity:.8;
	}
	&:active {
		opacity:.6;
	}
}

.footer-bottom__social {
	width:100%;
	min-height:66px;
	border:1px solid #cdcdcd;

	margin:30px auto;
	padding:20px 27%;
}

.footer-bottom__social-list {
	margin: 0;
	padding: 0;

	display:flex;
	justify-content: space-around;
	align-items:center;
}

.footer-bottom__social-item {
	list-style:none;
}
.footer-bottom__social-link svg {
	fill:#6b6b6b;
	&:hover {
		fill:#68b738;
	}
	&:active {
		opacity:.3;
	}
}
.footer-bottom__social-link--vkontakte svg {
		width:22px;
		height:12px;
}
.footer-bottom__social-link--instagram svg {
		width:16px;
		height:16px;
}
.footer-bottom__social-link--facebook svg {
		width:10px;
		height:19px;
}

.footer-bottom__copyright {
	display:flex;
	justify-content: space-between;

	margin-bottom:10px;
}

.footer-bottom__copyright-text {
	font-size: 16px;
	font-family:Arial,sans-serif;
	color:#444444;
	font-weight: 400;
}

.footer-bottom__copyright-link {
	margin-top: 10px;
	&:hover {
		fill:#68b738;
	}
	&:active {
		opacity:.3;
	}
	svg {
		width:27px;
		height:34px;
	}
}

@media (min-width: 768px) {
	.footer-bottom {
		flex-direction: row;
		align-items: center;
	}
	.footer-bottom__logo-name {
		margin-top: -4px;
	}
	.footer-bottom__social {
		width:320px;
		padding: 20px 0;
		border:none;
	}
	.footer-bottom__social-list {
		margin: 0 auto;
		justify-content: center;
	}
	.footer-bottom__social-item:not(:last-child) {
		margin-right: 30px;
	}

	.footer-bottom__social-link--vkontakte svg {
		width:30px;
		height:19px;
	}
	.footer-bottom__social-link--instagram svg {
		width:23px;
		height:23px;
	}
	.footer-bottom__social-link--facebook svg {
		width:14px;
		height:28px;
	}
	.footer-bottom__copyright-text {
		margin-right: 25px;
	}
}